name: Lint

on: [push]

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v2
        - name: Install ESlint
          run: npm install eslint --save-dev
        - name: Install modules
          run: npm install
        - name: Run ESLint
          run: /node_modules/eslint/bin/eslint.js . --ext .js,.jsx,.ts,.tsx